body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: #faf9ff;
}

.nav-container {
  display: flex;
  width: auto;
}
.nav-container .logo {
  height: 5em;
  width: 5em;
}

.application-container {
  display: flex;
  justify-content: flex-start;
}
.application-container .application-card {
  display: flex;
  border: 1px solid gray;
  border-radius: 10px;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 1em;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.application-container .application-card .application-card-buttons {
  display: flex;
  margin: 1em;
}
.application-container .application-card .application-card-buttons .application-card-delete, .application-container .application-card .application-card-buttons .application-card-edit {
  border: 1px solid white;
  padding: 1em;
}
.application-container .application-card .application-card-buttons .application-card-delete {
  background-color: black;
  color: white;
}
.application-container .application-card .application-card-buttons .application-card-edit {
  background-color: black;
  color: white;
}
.application-container .application-card .application-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.application-container .application-card .application-data .application-data-fields {
  background-color: #2ab6f6;
  border: 1px solid gray;
  height: 100%;
  padding: 2em;
  margin: 0.1em;
  text-align: center;
}
.application-container .application-card .application-data .application-status {
  width: 8em;
}
.application-container .application-card .application-data .application-company {
  width: 8em;
}
.application-container .application-card .application-data .application-jobtitle {
  width: 8em;
}

.add-app-button {
  background-color: white;
  border-color: #2ab6f6;
  border-radius: 5em;
  color: #2ab6f6;
  font-size: 14px;
  width: 10em;
  height: 4em;
}
.add-app-button:hover {
  background-color: #2ab6f6;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: white;
  height: auto;
  width: auto;
  max-width: 50%;
  max-height: 100vh;
  min-width: 500px;
  min-height: 400px;
  position: absolute;
  top: -110%;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid gray;
  z-index: 200;
  transition: all 0.3s ease-in-out;
}
.form-container .form-cancel-div {
  display: flex;
  justify-content: flex-end;
}
.form-container .form-cancel-div .cancel-icon {
  border: none;
  background-color: white;
  width: 30px;
  height: 30px;
  padding: 0.3em 0.3em 1em 1em;
}
.form-container .application-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: auto;
  width: auto;
  overflow: auto;
}
.form-container .application-form input[type=date] {
  color: #7097a8;
  padding: 0.5em;
}
.form-container .application-form input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.form-container .application-form .form-select {
  color: #7097a8;
  background-color: #d3e7ee;
  border: none;
  width: 31.2em;
  height: 3.5em;
  padding: 0.5em;
}
.form-container .application-form .form-select .form-select select {
  color: white;
}
.form-container .application-form .form-input {
  background-color: #d3e7ee;
  width: 25em;
  height: 2em;
  font-size: 16px;
  border: none;
  padding: 0.5em;
}
.form-container .application-form .form-input::placeholder {
  color: #7097a8;
}
.form-container .application-form .form-buttons {
  display: flex;
  margin: 1em;
}
.form-container .application-form .form-buttons input {
  background-color: #2ab6f6;
  color: white;
  border: none;
  width: 10em;
  margin: 0.5em;
  padding: 1em;
}

.form-open {
  display: flex;
  margin: auto;
  background-color: white;
  border: 1px solid gray;
  height: auto;
  width: auto;
  max-width: 50%;
  max-height: 100vh;
  position: absolute;
  top: 10vh;
  z-index: 200;
  transition: 0.5s ease-in-out;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .add-app-button {
    height: 3em;
    width: 15em;
  }

  .main-container {
    width: 100%;
    margin: 0;
  }

  .form-open {
    display: flex;
    margin: auto;
    background-color: gray;
    height: auto;
    width: auto;
    max-width: 50%;
    max-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
    transition: 0.5s ease-in-out;
  }

  .form-container {
    width: 100vw;
    max-width: 100%;
    margin: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: 50%;
    max-height: 100vh;
    min-width: 100%;
    min-height: 300px;
    position: absolute;
    z-index: 200;
  }
  .form-container .application-form {
    top: 10vh;
  }
  .form-container .application-form .form-input {
    width: auto;
    height: 2em;
  }
  .form-container .application-form .form-buttons {
    display: flex;
    margin: 1em;
  }
  .form-container .application-form .form-buttons input, .form-container .application-form .form-buttons button {
    background-color: #2ab6f6;
    color: white;
    border: none;
    width: auto;
    margin: 0.5em;
    padding: 1em;
  }

  .application-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .application-container .application-card {
    display: flex;
    flex-direction: column;
  }
  .application-container .application-card .application-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .application-container .application-card .application-data .application-data-fields {
    border: 1px solid black;
    padding: 2em;
  }
  .application-container .application-card .application-data .application-status {
    width: 10em;
  }
  .application-container .application-card .application-data .application-company {
    width: 8em;
  }
  .application-container .application-card .application-data .application-jobtitle {
    width: 8em;
  }
}

/*# sourceMappingURL=index.css.map */
