body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.application-container {
  border: 1px solid black;
}

.add-app-button {
  background-color: blue;
  border: none;
  border-radius: 20px;
  color: white;
}


@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

    .add-app-button {
      height: 3em;
      width: 10em;
    }

}
