$sky-blue: rgb(42, 182, 246);

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.nav-container {
  display: flex;
  width: auto;

  .logo {
    height: 5em;
    width: 5em;
  }
}

.application-container {
  border: 1px solid black;
}

.add-app-button {
  background-color: white;
  border-color: $sky-blue;
  border-radius: 5em;
  color: $sky-blue;
  font-size: 14px;
  width: 10em;
  height: 4em;

  &:hover {
    background-color: $sky-blue;
    color: white;
  }
}

.application-form {
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
}


@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

    .add-app-button {
      height: 3em;
      width: 10em;
    }

}
